<div class="navbar navbar-default navbar-connect">
	<div class="navbar-header ">
		<img type="image/svg+xml" src="/img/gluethings_logo_quer.svg" 
		class="navbar-brand navbar-brand-image"></img>
	</div>
</div>	
<div class="navbar navbar-default navbar-default-desc">
	<div class="navbar-header ">
	  	<div class="navbar-brand navbar-brand-icon ">
	  		<img src="/img/device_medium_white.svg" class="navbar-brand-icon-small"></img>
		</div>
		<h3 class="small-icon-left white">{{smartObjectName}}</h3>
	</div>
</div>
<div class="navbar navbar-default navbar-connect-info">
	<div class="navbar-header ">
	  	<div class="navbar-brand navbar-brand-icon">
	  		<img src="/img/ok_small_bold_white.svg" class="navbar-brand-icon-small"></img>
		</div>
		<h4 class="white">{{connectedText}}</h4>
	</div>
</div>

<div class="col-lg-10">
	<div class="page-header">
		<h2 class="headerBold">Device ID</h2>
		<p class="apiToken">{{smartObjectID}}</p>
	</div>
</div>

<div class="col-lg-10">
  		<ng-device-orientation/>
</div>