doctype html
html
	<head>
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src="http://code.jquery.com/jquery-latest.js")
	script(type="text/javascript").
		
		$(document).ready(function() {
			$("#submit").on("click", createServiceObjectRequest);
		});
		function createServiceObjectRequest(){
			// set response field
			$("#response").text("requesting...");
			var actualDomain = location.href;

			// get data from html input elements in JSON-format
			var data = buildDataJson();

			$.ajax({
				type: "GET",
				url: actualDomain+'create',
				contentType: 'application/json',
				data:  data,
				dataType: 'json'
			})
			// callback option on success, receives the returned data
			// a string containing the statusCode and the jqXHR-Object
			.success(function(response) {
				$("#response").text( JSON.stringify( response ));
			})
			.error(function(msg){
				$("#response").text("error during creation process: "+JSON.stringify( msg ));
			});		
		}
		function buildDataJson(){
			var dataJson = {
				"name": $("#name").val(),
				"description": $("#description").val(),
				"streams": $("#streams").val()				
			};
			return dataJson;
		}
	</head>

	body
	h1= title
	p Welcome to #{title}
	br
	label(for="name") Name: 
	input(id="name",type="text",value="",placeholder="Service Object Name",name="name")
	br
	label(for="description") Description: 
	input(id="description",type="text",value="",placeholder="Service Object Description",name="description")
	br
	label(for="streams") Stream: 
	select(id="streams", size="1")
		option location
		option orientation
	br
	br
	button(id="submit") create my Service Object
	h2 Response from COMPOSE
	p#response #{composeRes}
	br
	a(href='/') Back to Index Page
